body {

margin:0;
background:#000000;
color:#FFFFFF;
font-family:'Montserrat', sans-serif;

}

.hero {

height:100vh;
position:relative;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

}

.hero-content h1 {

font-family:'Cinzel', serif;
font-size:64px;
letter-spacing:3px;

}

.hero-content p {

color:#BFBFBF;
margin-bottom:30px;

}

.buttons {

display:flex;
gap:15px;
justify-content:center;
flex-wrap:wrap;

}

.btn {

padding:14px 28px;
border-radius:30px;
text-decoration:none;
font-size:14px;
letter-spacing:1px;
transition:0.3s;

}

.btn.dark {

background:#111111;
color:white;
border:1px solid white;

}

.btn.light {

background:white;
color:black;
border:1px solid